.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.header {
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.titleHeader {
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin: auto 0;
}

.navBar {
  text-align: end;
}

.navBar>button {
  cursor: pointer;
  background-color: white;
  color: white;
  font-size: 18px;
  width: 50px;
  height: 25px;
  border: none;
}

.navBar>button:hover {
  border: 1px solid red;
}

.navIcon {
  height: 25px
}

.menuNav {
  position: fixed;
  display: none;
  list-style: none;
  padding: 8px;
  margin: 6px 0px;
  height: 0px;
  right: 0;
  overflow: hidden;
  height: fit-content;
  border: 1px solid black;
  border-top: none;
}

.menuNav button {
  padding: auto;
  color: black;
  background-color: white;
  border: none;
  width: auto;
}

.menuNav.showMenu {
  display: flex;
  width: 100px;
  position: unset;
}

.content {
  margin: auto;
  width: 70%;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.submitBtn {
  background-color: red;
  color: white;
  outline: none;
  font-size: 18px;
  padding: 12px 0px;
}

input {
  margin: 3px 0px 20px 0px;
}

.equipmentListing {
  margin: 20px 0px;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 7px;
}

.activeSession {
  margin: 20px 0px;
}

.upcomingSession {
  color: red;
  font-weight: bold;
}

.footer {
  justify-content: center;
  color: grey;
  font-style: italic;
}

@media (max-width: 800px) {
  .container {
    width: auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  th, td {
    padding: 5px;
    font-size: 14px;
  }
}